* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* box-sizing: border-box; là một thuộc tính CSS để xác định cách tính kích thước của một phần tử HTML. */
}


.quantity {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 120px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.quantity input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  border: none;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.quantity button {
  display: block;
  float: left;
  width: 30px;
  height: 100%;
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 38px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.quantity button:hover {
  background-color: #ccc;
}

.quantity button.plus-btn {
  border-left: 1px solid #ccc;
}

.quantity button.minus-btn {
  border-right: 1px solid #ccc;
}

.box-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.box-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.box-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 220px;
  margin: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  text-align: center;
}

.box-item:hover {
  background-color: gray;
  color: lavenderblush;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .box-1{
    grid-template-columns: repeat(2, 1fr);
  }
  .box-1 > div:nth-child(n+2){
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .box-1{
    grid-template-columns: repeat(4, 1fr);
  }

  .box-1>div:nth-child(n+4){
    display: none;
  }
}

