/* Quy Tắc Chung  */
*{
    margin: 0px;
    padding: 0px;
}
img{
    max-width: 100%;
	height: auto;
}
/* Quy Tắc Cho Màn Hình Kích Thước <= 480px */
@media screen and (max-width: 480px){
img{
    max-width: 90%;
    margin: 5px;
}
p{
    font-size: 24px;
}

}
    
