* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* box-sizing: border-box; là một thuộc tính CSS để xác định cách tính kích thước của một phần tử HTML. */
  }
body {
    width: auto;
    margin: 0 auto;
}

